<%= form_with(model: miningtype, local: true) do |form| %>
  <% if miningtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(miningtype.errors.count, "error") %> prohibited this miningtype from being saved:</h2>

      <ul>
      <% miningtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="field">
    <%= form.label :acronym %>
    <%= form.text_field :acronym %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
