<p id="notice"><%= notice %></p>

<h1>Miningtypes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>String</th>
      <th>Acronym</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @miningtypes.each do |miningtype| %>
      <tr>
        <td><%= miningtype.description %></td>
        <td><%= miningtype.string %></td>
        <td><%= miningtype.acronym %></td>
        <td><%= link_to 'Show', miningtype %></td>
        <td><%= link_to 'Edit', edit_miningtype_path(miningtype) %></td>
        <td><%= link_to 'Destroy', miningtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Miningtype', new_miningtype_path %>
