<h1>Welcome to <%=application_name %></h1>

<p> <strong> Today is: </strong> <%= data_br(Date.today) %> </p>

<%= render "menu" %>

<%# Render brings the _FILENAME as a partial, works like an react component%>

    <p>Developed by <strong> <%=@name %> </strong> </p>


    <p>Using <strong> <%=@course %> </strong> </p>

