
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4"><%= t("welcome")%> <%=application_name %></h1>
    <p class="lead"><%= t("intro")%> </p>
    <hr class="my-4">
    <p><%= t("intro")%></p>
    <%= render "menu" %>
  </div>


<%# Render brings the _FILENAME as a partial, works like an react component%>